<footer>
<div class="footer-container">
    <div class="footer-logo">
        <a href="#">Politique de confidentialité</a>
    </div>
    <div class="footer-nav">
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
    </div>
</div>
</footer>