<h3 class="openings-title">Horaires d'ouverture :</h3>
<div class="openings-container">
    {% for opening in openings %}
        <div class="openings-day">
            <p>{{ opening.openingDay }} :</p>
            <p>{{ opening.openingMorning }}</p>
            <p>{{ opening.openingAfternoon }}</p>
        </div>
    {% endfor %}
</div>
