<h1>Merci de bien vouloir confirmer votre adresse Email</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse email.</a>
</p>
<p>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci, et bonne continuation sur notre site !
</p>
