{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <main class="container-check-email">
        <div class="text-check-email">
            <p>
                Si un compte correspond à votre adresse e-mail, alors un lien, que vous pouvez
                utiliser pour réinitialiser votre mot de passe, vous a été envoyé.
            </p>
        </div>
        <div class="text-check-email">
            <p>
                Ce lien expirera dans
                {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
        </div>
        <div class="text-check-email">
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier vos spams ou
                <a href="{{ path('app_forgot_password_request') }}">cliquer ici pour recevoir un nouveau lien !</a>.
            </p>
        </div>
    </main>
{% endblock %}
