{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    {# Même classe utilisée que le formulaire de connexion #}
    <main class="container-form">
        <h1 class="title-form">Réinitialisez votre mot de passe</h1>
        <div class="form form-login">
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <div class="container-btn-form">
                <button class="btn-form btn-form-position btn-login">Valider</button>
            </div>
            {{ form_end(resetForm) }}
        </div>
    </main>
{% endblock %}
