{% extends 'base.html.twig' %}

{% block title %}bienvenue au Quai Antique{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
<h1>Bienvenue au Quai Antique</h1>

{% endblock %}

