{% extends 'base.html.twig' %}

{% block title %}bienvenue au Quai Antique{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
<h1 class="main-title">Bienvenue au Quai Antique</h1>
<section class="main-container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ullamcorper sit amet risus nullam eget
        felis eget nunc. Viverra maecenas accumsan lacus vel facilisis volutpat est velit.
        Feugiat sed lectus vestibulum mattis ullamcorper velit sed. Rutrum tellus pellentesque
        eu tincidunt tortor aliquam. Id aliquet risus feugiat in. Habitant morbi tristique
        senectus et netus. Fames ac turpis egestas sed tempus. Quam adipiscing vitae proin
        sagittis nisl rhoncus mattis. Nisl suscipit adipiscing bibendum est ultricies integer.
        At erat pellentesque adipiscing commodo elit at. Consectetur a erat nam at lectus
        urna duis convallis. Imperdiet proin fermentum leo vel.

        Nunc aliquet bibendum enim facilisis gravida neque. Varius quam quisque id diam
        vel. Tempor id eu nisl nunc mi ipsum faucibus vitae aliquet. Donec ultrices tincidunt
        arcu non sodales neque. Nam libero justo laoreet sit amet. Dolor sit amet consectetur
        adipiscing elit. Tristique sollicitudin nibh sit amet. Neque gravida in fermentum
        et sollicitudin ac. Mattis enim ut tellus elementum sagittis vitae et leo duis. Morbi
        tempus iaculis urna id volutpat lacus laoreet. Elit scelerisque mauris pellentesque
        pulvinar pellentesque habitant morbi tristique. Aliquam vestibulum morbi blandit cursus
        risus. Consequat mauris nunc congue nisi. Ornare lectus sit amet est placerat in egestas.
        Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi. Volutpat maecenas
        volutpat blandit aliquam etiam erat velit scelerisque in. Phasellus vestibulum lorem sed
        risus ultricies tristique nulla aliquet enim. Eget aliquet nibh praesent tristique magna
        sit amet purus gravida. Dictumst vestibulum rhoncus est pellentesque. Eu nisl nunc
        mi ipsum faucibus vitae aliquet.
    </p>
    <p>

        Amet volutpat consequat mauris nunc congue. Risus feugiat in ante metus dictum.
        Aliquet lectus proin nibh nisl. Etiam erat velit scelerisque in dictum. Dui ut ornare l
        ectus sit amet. Mauris pellentesque pulvinar pellentesque habitant morbi tristique
        senectus. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Vitae
        congue mauris rhoncus aenean vel elit scelerisque mauris. Nec sagittis aliquam
        malesuada bibendum arcu vitae elementum. Dui id ornare arcu odio ut sem nulla
        pharetra. Lobortis feugiat vivamus at augue eget arcu dictum varius. Ultrices mi
        tempus imperdiet nulla malesuada pellentesque elit eget. Vitae proin sagittis nisl
        rhoncus mattis. Auctor elit sed vulputate mi. Vehicula ipsum a arcu cursus. At risus
        viverra adipiscing at in tellus integer feugiat scelerisque.

        Ultrices sagittis orci a scelerisque purus semper. Ultrices tincidunt arcu non sodales
        neque sodales. Maecenas ultricies mi eget mauris pharetra. Elementum eu facilisis
        sed odio morbi quis. Lectus vestibulum mattis ullamcorper velit sed. Quis blandit
        turpis cursus in hac. Pellentesque nec nam aliquam sem. Tincidunt augue interdum
        velit euismod in. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam.
        Sed vulputate odio ut enim blandit volutpat. Sed felis eget velit aliquet sagittis.
        Tristique magna sit amet purus gravida. Eget aliquet nibh praesent tristique magna
        sit amet. Morbi enim nunc faucibus a. Tincidunt arcu non sodales neque sodales ut.
        Proin fermentum leo vel orci. Ut venenatis tellus in metus vulputate.
    </p>
</section>
{% endblock %}

