{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div>
        <h1 class="mt-5">Restaurant Quai Antique</h1>
            <p class="lead pt-3">
                Bienvenue dans l'accueil de l'administration du restaurant.
            </p>
    </div>

{% endblock %}