/* Index :
I) Global properties
I-a) Fonts
I-b) Global Headings
II) Partials templates:
II-a) Navbar
II-b) Footer
II-c) Schedule
III) Buttons
IV) Login form
V) Registration form
VI) Form reset password
VII) Reset-the-password-send-e-mail page
VIII) Home page
IX) "Notre carte" page
X) "Nos menus" page
XI) Profile modification page:
XI-a) "Mon compte" page
XI-b) Modification form profile page
XI-c) Modification form password profil page
End) Legal notice page
*/

/* I) Global properties */
body {
    background-color: #0d2935;
    color: #b6863a;
}

a {
    color: #b6863a;
}

a:hover {
    color: #dd992c;
}


/* I-a) Fonts */
/* h1 */
@font-face {
    font-family: 'Volkhov', serif;
}

/* Subtitles */
@font-face {
    font-family: 'Patua One', cursive;
}

/* Text */
@font-face {
    font-family: 'Gentium Book Basic', serif;
}

/* I-b) Global Headings */
h1 {
    margin-top: 50px;
    font-size: 1.8rem;
    text-align: center;
    font-family: Volkhov, serif;
}

h2 {
    font-size: 1.5rem;
    font-family: Patua One, cursive;
}

h3 {
    font-size: 1.2rem;
    font-family: Patua One, cursive;
}

@media screen and (min-width: 800px ) {
    h1 {
        margin-top: 80px;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        margin-top: 90px;
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1920px) {
    h1 {
        margin-top: 150px;
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.8rem;

    }
}

p, a {
    line-height: 1.8;
    font-family: Gentium Book Basic, serif;
}

/*II) Partials templates:*/
/*II-a) Navbar*/
.nav-logo {
    height: 30px;
    width: auto;
}

.nav-link {
    color: #b6863a;
}

.nav-link:hover {
    color: #dd992c;
}

.navbar-toggler {
    background: #b6863a;
}

@media screen and (min-width: 800px) {
    .nav-logo {
        height: 50px;
        width: auto;
    }

    .nav-item > a {
        font-size: 1.52rem;
    }
}

@media screen and (min-width: 1200px) {
    .nav-item > a {
        font-size: 1.2rem;
    }
}

/*II-b) Footer*/
.footer-container {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.footer-container > div {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.footer-container a {
    color: #b6863a;
}

.footer-container a:hover {
    color: #dd992c;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-container > div {
        width: 33%;
        padding-bottom: 0;
    }

    .footer-logo {
        height: 40px;
        width: auto;
    }

    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer-container {
        padding: 40px 100px;
    }

    .footer-logo {
        height: 50px;
        width: auto;
    }
}

@media screen and (min-width: 1920px) {
    .footer-container {
        padding: 40px 250px;
    }

    .footer-logo {
        height: 60px;
        width: auto;
    }
}

/*II-c) Schedule*/
.openings-title, .openings-container {
    text-align: center;
}

.openings-day {
    display: inline-block;
    margin: 0 20px 30px;
    color: white;
}

.openings-day-text {
    font-style: italic;
    text-decoration: underline;
}

/* III) Buttons */
/* Form buttons */
.container-btn-form {
    text-align: right;
}

.btn-form-position {
    margin-bottom: 80px;
}

.btn-form {
    border: none;
    background-color: #dd992c;
    color: #000;
    padding: 5px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.btn-form:hover {
    background-color: #DCD6F7;
    color: #dd992c;
    cursor: pointer;
}

/* Reservation button */
.btn-reservation-container {
    text-align: center;
    margin-bottom: 60px;
}

/* IV) Login form */
.container-form {
    padding: 0 50px;
}

.form-title {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-login label {
    margin-top: 20px;
    color: #dd992c;
}

.form-login {
    margin-top: 40px;
}

.form-login input {
    margin: 8px 0 0;
}

.forgot-password {
    padding-top: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #dd992c;
    font-size: 12px;
}

.forgot-password a:hover {
    color: #b6863a;
}

.btn-login {
    margin-top: 40px;
}

@media screen and (min-width: 1200px) {
    .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-login {
        width: 800px;
        margin-top: 80px;
    }
}

@media screen and (min-width: 1920px) {
    .btn-login, .form-login label {
        font-size: 24px;
    }
}

/* V) Registration form */
.container-form {
    margin: 0 5px;
}

.form-control { /* Space between "inputs" */
    margin: 30px 0 30px;
}

.form { /* Text "placeholder" */
    font-family: Gentium Book Basic, serif;
}

.form-check {
    margin-bottom: 8px;
}

label {
    color: #b6863a;
}

@media screen and (min-width: 800px) {
    .form-control { /* Space between "inputs" */
        margin: 50px 0 50px;
    }

    .form-register-tablet {
        margin: 0 40px;
    }
}

@media screen and (min-width: 1200px) {
    .container-pc {
        width: 600px;
    }
}

@media screen and (min-width: 1920px) {
    .form-title {
        margin-top: 150px;
    }

    .form-label { /* Placeholder text size */
        font-size: 18px;
    }

    .form-check-label {
        font-size: 18px;
    }
}

/* VI) Form reset password */
.container-form-reset-password {
    margin-top: 50px;
}

.explicative-text-reset-password {
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .container-form-reset-password {
        margin: 0 50px;
    }
}

/* VII) Reset-the-password-send-e-mail page*/
.container-check-email {
    padding: 80px 25px 0;
}

.text-check-email {
    margin-bottom: 25px;
}

.text-check-email > p {
    font-family: Gentium Book Basic, serif;
}

.container-check-email :nth-child(2n) {
    text-align: center;
}

.text-check-email {
    text-align: center;
}

.text-check-email a {
    text-decoration: none;
    font-style: italic;
}

@media screen and (min-width: 800px) {
    .container-check-email {
        padding-top: 200px;
        /*calc() -> 214px = height of navbar and footer*/
        height: calc(100vh - 214px);
    }

    .container-check-email p {
        font-size: 20px;
    }

    .text-check-email a {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .container-check-email {
        text-align: center;
        /*calc() -> 230px = height of navbar and footer*/
        height: calc(100vh - 230px);
        padding: 200px 50px 0;
    }
}

@media screen and (min-width: 1920px) {
    .container-check-email {
        /*calc() -> 256px = height of navbar and footer*/
        height: calc(100vh - 256px);
        padding: 200px 50px 0;
    }

    .text-check-email p {
        font-size: 24px;
    }

    .text-check-email a {
        font-size: 24px;
    }
}

/*VIII) Home page */
.alert-success {
    width: 300px;
    text-align: center;
}

.main-title {
    margin: 80px 0 60px;
}

.image-container {
    margin: 0 20px;
}

.image-home-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 5px;
    text-align: center;
}

.image-home {
    display: block;
    margin: auto;
    width: auto;
    height: 250px;
}

.image-title-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    /* Force to use the `visibility` property because `display` is taken above*/
    visibility: hidden;
}

.image-title {
    margin: 0;
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 800px) {
    .main-title {
        margin: 100px 0 100px;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image-home-container {
        width: 50%;
    }

    .btn-reservation {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .main-title {
        margin: 120px 0 120px;
    }

    .image-home-container {
        width: 33.33%;
        margin-bottom: 100px;
    }

    .image-home {
        height: 300px;
    }
}

@media screen and (min-width: 1920px) {
    .main-title {
        margin: 150px 0 150px;
    }

    .image-container {
        padding: 0 150px 0;
    }

    .image-home-container {
        margin-bottom: 150px;
    }

    .image-home {
        height: 400px;
    }

    .btn-reservation-container {
        margin-bottom: 100px;
    }

    .btn-reservation {
        font-size: 2.5rem;
    }
}

/*IX) "Notre carte" page */
.menu-container {
    margin: 0 30px 50px;
}

.menu-title {
    margin: 80px 0 60px;
    font-size: 2rem;
}

.menu-category-subtitle {
    text-align: center;
    padding: 50px 0 30px;
}

.menu-list {
    list-style-type: none;
    text-align: center;
    padding-bottom: 50px;
}

.menu-text {
    color: white;
    line-height: 2;
}

@media screen and (min-width: 800px) {
    .menu-container {
        margin: 0 50px 50px;
    }

    .menu-title {
        margin: 100px 0 40px;
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .menu-container {
        margin: 0 100px 50px;
    }

    .menu-title {
        margin: 120px 0 40px;
        font-size: 3.5rem;
    }

    .menu-category-subtitle {
        padding: 100px 0 30px;
    }

    .menu-text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1920px) {
    .menu-container {
        margin: 0 150px 100px;
    }

    .menu-title {
        margin: 150px 0 40px;
        font-size: 5rem;
    }

    .menu-category-subtitle {
        padding: 150px 0 30px;
    }

    .menu-text {
        font-size: 1.5rem;
    }

    .menu-list {
        padding-bottom: 100px;
    }
}

/*X) "Nos menus" page */
.formulas-container {
    margin: 0 30px 50px;
}

.formulas-h1 {
    margin-bottom: 70px;
}

.formulas-card {
    background-color: #0f3141;
    border-radius: 7px;
    margin-bottom: 70px;
}

.formulas-card-content {
    padding: 20px;
    color: white;
    text-align: center;
}

.formulas-title {
    padding-bottom: 20px;
}

.formulas-price {
    padding-bottom: 30px;
}

@media screen and (min-width: 800px) {
    .formulas-container {
        margin: 0 100px 50px;
    }

    .formulas-h1 {
        margin-bottom: 100px;
    }

    .formulas-card {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .formulas-container {
        margin: 0 200px 50px;
    }

    .formulas-h1 {
        margin-bottom: 120px;
    }

    .formulas-card {
        margin-bottom: 120px;
    }
}

@media screen and (min-width: 1920px) {
    .formulas-container {
        margin: 0 400px 100px;
    }

    .formulas-h1 {
        margin-bottom: 150px;
    }

    .formulas-card {
        margin-bottom: 150px;
    }
}

/* XI) Profile modification page: */
/* XI-a) "Mon compte" page */
.profile-container {
    text-align: center;
    margin: 0 30px 0;
}

.profile-title {
    margin: 80px 0 50px;
}

.profile-fields-container {
    margin-bottom: 30px;
}

.profile-data {
    color: white;
}

.profile-label {
    font-size: 1.5rem;
}

.profile-last-data {
    margin-bottom: 80px;
}

@media screen and (min-width: 800px) {
    .profile-container {
        margin: 0 50px 0;
    }

    .profile-title {
        margin: 100px 0 50px;
    }

    .profile-label {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .profile-title {
        margin-bottom: 80px;
    }

    .profile-container {
        margin: 0 100px 0;
    }

    .profile-title {
        margin: 120px 0 50px;
    }

    .profile-first-data {
        margin-top: 150px;
    }

    .profile-label {
        font-size: 2.5rem;
    }

    .profile-data {
        font-size: 1.5rem;
    }

    .profile-last-data {
        margin-bottom: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .profile-title {
        padding: 80px 0 100px;
    }

    .profile-first-data {
        margin-top: 0;
    }

    .profile-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-items: center;
        align-content: center;
        margin: 0 150px 0;
    }

    .profile-fields-container:nth-child(5) {
        grid-row: 3;
        grid-column: 1 / -1;
        margin-bottom: 0;
    }

    .btn-reservation-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-row: 4;
        grid-column: 1 / -1;
    }

    .btn-reservation-container {
        justify-self: center;
    }
}

/*XI-b) Modification form profile page */
.profile-edit-title {
    margin-bottom: 100px;
}

.btn-color {
    background-color: #057570;
}

@media screen and (min-width: 800px) {
    .profile-edit-title {
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .profile-edit-title {
        margin-bottom: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .profile-edit-title {
        margin-bottom: 250px;
    }
}

/*XI-c) Modification form password profil page */
.profile-password-container {
    text-align: center;
}

.profile-password-title {
    margin: 80px 0;
}

.profile-password-form {
    margin: 0 30px 0;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 50px;
}

@media screen and (min-width: 800px) {
    .profile-password-title {
        margin: 100px 0;
    }

    .profile-password-form {
        margin: 0 100px;
    }

    .form-control-last {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .profile-password-title {
        margin: 160px 0;
    }

    .profile-password-form {
        margin: 0 200px;
    }
}

@media screen and (min-width: 1920px) {
    .profile-password-title {
        margin: 200px 100px
    }

    .profile-password-form {
        margin: 0 400px;
    }

    .profile-password {
        width: 700px;
        display: inline-block;
    }
}


/* End) Legal notice page */
.legal-notice {
    color: #fff;
    margin: 80px 30px 150px 30px;
}

.legal-notice > h2, h3 {
    margin: 30px 0;

}

@media screen and (min-width: 800px) {
    .legal-notice {
        margin: 80px 50px 80px 50px;
    }

    .legal-notice > h2, h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .legal-notice {
        margin: 80px 100px 150px 100px;
    }

    .legal-notice > h2, h3 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1920px) {
    .legal-notice {
        margin: 80px 250px 150px 250px;
    }

    .legal-notice > h2, h3 {
        font-size: 2rem;
    }
}























